@import url("null.css");
@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),
        url("../fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: CircularStd;
    font-weight: 400;
    font-size: 18px;
}

.wrapper {
    max-width: 1025px;
    margin: 0 auto;
}
.title {
    font-size: 65px;
    line-height: 1.25;
    text-align: center;
    color: #313131;
    margin: 0 0 20px 0;
}
.subtitle {
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    color: #5f5f5f;
    margin: 0 0 224px 0;
}
.service {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.3;
    color: #313131;
    margin: 0 0 20px 0;
}

.main {
    line-height: 1.55;
    color: #5f5f5f;
    margin: 0 0 125px 0;
    max-width: 508px;
}
.name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #313131;
    margin: 0 0 5px 0;
}
.position {
    line-height: 1.27;
    color: #b8b8b8;
    margin: 0 0 100px 0;
}
.img {
    max-width: 401px;
}
